<div id="homebg">

<div class = "signup">
<p1><a href="/signup"><i>SIGN UP<i></a><p1>
</div>
<div id = "main2">

	<h1><i><u>New posts!</i></u></h1>
	<% Post.last(10).each do |x| %>
	<p><%= x.user.username + ' | '+ x.content %></p>
	<% end %>

</div>

</div>
