<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		 <link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
			

	<header>
		<nav class="top-navigation";>
			<a href="/"><img src="images/logo.png" style="margin-top:25px; margin-left:100px;"></a>
		<% if @user != nil %>
		
		<form method="POST" action="signout">
			<input type="submit" value="Sign out"> 
			</form>
			
		<% else %>
			
			<form method="POST" action="signin">
				<a href="/profile"><b>Go to profile<b></a>
				<%= current_user.fname if current_user %>
			<label for="username">Username</label>
			<input type="text" name="[user]username" size="5">
			<label for="password">Password</label>
			<input type="password" name="[user]password" size="5">
			<input type="submit" value="Log in!">
			    <% if flash[:alert] %>
      			<div class="flash notice">
        		<%= flash[:alert] %>
    			</div>
    			<% end %>
    			<% if flash[:notice] %>
      			<div class="flash notice">
        		<%= flash[:notice] %>
    			</div>
    			<% end %>

			 </form>
			 
			

		<% end %>
		
       </nav>
       
   </header>

<%= yield %>
</body>
</html>