<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		 <link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>

<header>
	
		<nav class="top-navigation";>
			

	<header>
		<nav class="top-navigation";>
		<% if @user != nil %>
			<form method="POST" action="/signin">
			<label for="username">Username</label>
			<input type="text" name="[user]username" size="5">
			<label for="password">Password</label>
			<input type="password" name="[user]password" size="5">
			<input type="submit">
			 </form>
		<% else %>
			<form method="POST" action="/signout">
			<input type="submit" value="Sign out"> 
			</form>

			<img src="images/logo.png" style="margin-top:10px; margin-left:20px;">

		<% end %>
		

       </nav>
   </header>

<%= yield %>
</body>
</html>