<!-- delete account -->
<p>Delete Your account</p>
<form action="/account_delete" method="POST">
  <label>Delete <%= current_user.username if current_user %>?</label>
   <br><br><input type="submit" value="Delete ">

</form>


<!-- edit account details -->